@{
    ViewBag.Title = "Create";
}

<h2>Criar Categoria</h2>

<form method="post">
    <label>Nome: </label>
    <input name="Name"/>
    <br />
    <label>Descricao: </label>
    <input name="Description"/>
    <br />
    <button type="submit">Cadastrar</button>
</form>

